services:
  qdrant:
    image: qdrant/qdrant:latest
    container_name: qdrant_server_uud45
    # 6333: Port HTTP/gRPC (API)
    # 6334: Port gRPC yang digunakan oleh klien Python
    ports:
      - "6333:6333"
      - "6334:6334"
    volumes:
      - qdrant_storage:/qdrant/storage
    healthcheck:
      test: ["CMD", "curl", "-fail", "http://localhost:6333/qdrant"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 20s


volumes:
  qdrant_storage:
    driver: local